       .orz {
          border-bottom: 1px solid #ccc;
          width: 100%;
          height: 20%;
          overflow-y: auto;
          overflow-x: hidden;
       }
     #orzl {
        position: absolute;
        top: 10%;
        left: 0%;
        border: 1px solid black;
        width: 100%;
        height: 89%;
        overflow: scroll;
        }
   #header {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0%;
    left: 0%;
    background-color: #eee;
    border: 1px solid black;
   }
  #title {
   position: absolute;
   top: 3%;
   left: 10%;
   font-size: 20px;
  }
